<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
	<br>
	<br>

<div class="card bg-light mb-5 center" style="max-width: 80rem; text-align: center;">
  <div class="card-header">Blanqueo de contraseña del sistema</div>
  <div class="card-body">
    <p class="card-text" >Ingrese su correo electronico y el sistema le enviara una clave nueva </p>
    
    <form th:action="@{/olvidepassword}" method="post">
			<div class="form-group row">
				<label for="correo" class="col-sm-5 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;Correo electronico</label> 
				<div class="col-sm-6">
				<input	type="text" name="correo" class="form-control" placeholder="Correo electronico">	
			
			</div>
	
			</div>		
			
			
			
				<div>

			<input type="submit" class="btn btn-primary" value="Resetear"/>


			</div>
									
		</form>
    
    			
    
  </div>
</div>

	<br>
	<footer th:replace="layout/layout :: footer"></footer>

	</div>
</body>
</html>